{% extends "base.html" %} {% load shop_tags %} {% load thumbnail %}{% load static %}
{% block title %}
{% if category.meta_title %}
{{ category.meta_title }}
{% else %}
{{ category.name }}
{% endif %}
{% endblock %}
{% block description %}
{{ category.meta_description }}
{% endblock %}
{% block keywords %}
{{ category.meta_keywords }}
{% endblock %}

{% block content %}

<div class="top-page">
  <div class="container">
    <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
         class="breadcrumbs__item">
        Главная
        <meta itemprop="position" content="1">
      </a>
      <a href="{% url 'category' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
         class="breadcrumbs__item">
        Каталог
        <meta itemprop="position" content="2">
      </a>
      <span itemprop="name" class="breadcrumbs__item">
            {{ category.name }}
            <meta itemprop="position" content="3">
        </span>
    </div>
    <h1 class="top-page__title title">{{ category.name }}</h1>
  </div>
</div>

{% if products %}
<section class="services">
  <div class="container">
    <div class="services__grid">
      {% for item in products %}
      <a href="{{ item.get_absolute_url }}" class="services__item">
        <p class="services__title">{{ item.name }}</p>
        {% if item.image %}
        {% thumbnail item.image "214x184" format="WEBP" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ item.name }}"
             title="{{ item.name }}" class="services__image">
        {% endthumbnail %}
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if subcategories %}
<section class="services">
  <div class="container">
    <h2 class="title">Подкатегории</h2>
    <div class="services__grid">
      {% for item in subcategories %}
      <a href="{{ item.get_absolute_url }}" class="services__item">
        <p class="services__title">{{ item.name }}</p>
        {% if item.image %}
        {% thumbnail item.image "214x184" format="WEBP" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ item.name }}"
             title="{{ item.name }}" class="services__image">
        {% endthumbnail %}
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if category.description %}
<section class="py border-t">
  <div class="container">
    <div class="section-text text">
      {{ category.description|safe }}
    </div>
  </div>
</section>
{% endif %}

{% include "../../includes/_callback.html" %}

{% include "../../includes/_contact.html" %}

{% endblock content %}