PassengerEnabled On
PassengerAppRoot /home/a/avroraweb/tompc-tech/public_html/main/main
PassengerPython /home/a/avroraweb/tompc-tech/public_html/venv/bin/python

<FilesMatch "\.(jpg|jpeg|png|gif|webp|svg|css|js|woff|woff2|ttf)$">
  Header set Cache-Control "max-age=31536000, public"
</FilesMatch>