asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
distlib
Django
django-allauth
django-ckeditor
django-ckeditor-5
django-cors-headers
django-debug-toolbar
django-js-asset
django-recaptcha3
django-storages
et_xmlfile
filelock
idna
lxml
numpy
openpyxl
pandas
pillow
platformdirs
python-dateutil
python-docx
pytils
pytz
requests
six
sorl-thumbnail
soupsieve
sqlparse
typing_extensions
tzdata
urllib3
virtualenv
whitenoise
xlrd
