{% extends 'admin_base.html' %} {% load shop_tags %} {% load thumbnail %} {% load static %} {% block body %}

<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">Слайды</h1>
      <ul class="admin-breadcrumbs">
        <li><a href="{% url 'admin' %}">Панель управления</a></li>
        <li>Промокоды</li>
      </ul>
    </div>
    <div class="page__head">
      <div class="page__head-tab">
        <a href="{% url 'promo_add' %}" class="action-button">Добавить новый</a>
      </div>
    </div>
    <div class="page__content content-page table-top">
      {% if items %} {% comment %}
      <p class="page_chars">Характеристики без группы</p>
      {% endcomment %}
      <div class="table">
        <div class="table-header">
          <div class="table-row">
            <div class="table-cell">Код</div>
            <div class="table-cell">Дата начала</div>
            <div class="table-cell">Дака окончания</div>
            <div class="table-cell">Действие</div>
          </div>
        </div>
        <div class="table-body">
          {% for item in items %}
          <div class="table-row">
            <div class="table-cell" data-label="Header 1">{{ item.code }}</div>
            <div class="table-cell" data-label="Header 1">{{ item.valid_from }}</div>
            <div class="table-cell" data-label="Header 1">{{ item.valid_to }}</div>
            <div class="table-cell" data-label="Header 4">
              <a href="{% url 'promo_edit' item.pk %}">Изменить</a>
              <a href="{% url 'promo_delete' item.pk %}">Удалить</a>
            </div>
          </div>
          {% endfor %}
          <!-- Add more rows as needed -->
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
