{% extends 'admin_base.html' %}{% load static %} {% block body %}
<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">Настройки промокода</h1>
      <ul class="admin-breadcrumbs">
        <li><a href="{% url 'admin' %}">Панель управления</a></li>
        <li><a href="{% url 'admin_product' %}">Промокоды</a></li>
        <li>Настройки промокода</li>
      </ul>
    </div>
    <form action="." method="POST" class="form" enctype="multipart/form-data">
      <div class="page__head">
        <div class="page__head-tab"></div>
        <button type="submit" class="form__btn">
          <img src="{% static 'admin/img/save.svg' %}" alt=""/>
          Сохранить
        </button>
      </div>
      {% csrf_token %}
      <div class="page-content _show" id="basic">
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="form__group">
              <label for="{{ form.code.id_for_label }}" class="form__controls-label"> <span>*</span>Код: </label>
              {{ form.code }} {{ form.code.errors }}
            </div>
            <div class="form__grid">
              <div class="form__group">
                <label for="{{ form.valid_from.id_for_label }}" class="form__controls-label"> Дата начала : </label>
                {{ form.valid_from }} {{ form.valid_from.errors }}
              </div>
              <div class="form__group">
                <label for="{{ form.valid_to.id_for_label }}" class="form__controls-label"> Дата окончания : </label>
                {{ form.valid_to }} {{ form.valid_to.errors }}
              </div>
            </div>
            <div class="form__group-checkbox">
              {{ form.active }} {{ form.active.errors }}
              <label for="{{ form.active.id_for_label }}" class="form__controls-label"> Активировать ? : </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
