{% extends 'admin_base.html' %}{% load static %} {% block body %}
<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">{{ title }}</h1>
      <ul class="admin-breadcrumbs">
        <li><a href="{% url 'admin' %}">Панель управления</a></li>
        <li><a href="{{ url }}">Товары</a></li>
        <li>Настройки товара</li>
      </ul>
    </div>
    <form action="." method="POST" class="form" enctype="multipart/form-data">
      <div class="page__head">
        <div class="page__head-tab">
          <button type="button" data-tab="basic" class="page__head-btn _active">Основные</button>
          <button type="button" data-tab="seo" class="page__head-btn">Поля SEO</button>
          <button type="button" data-tab="char" class="page__head-btn">Характеристики</button>
        </div>
        <div class="page__head-right">
          <a href="{% url 'product_add' %}">Добавить новый</a>
          <button type="submit" class="form__btn">
            <img src="{% static 'admin/img/save.svg' %}" alt=""/>
            Сохранить
          </button>
        </div>
      </div>
      {% csrf_token %}
      <div class="page-content _show" id="basic">
        <div class="page-content__row">
          <div class="page-content__col">
            <div class="form__group">
              <label for="{{ form.name.id_for_label }}" class="form__controls-label">Наименование: </label>
              {{ form.name }} {{ form.name.errors }}
            </div>
            <div class="form__grid">

              {% if form.article %}
              <div class="form__group">
                <label for="{{ form.article.id_for_label }}" class="form__controls-label">Артикул: </label>
                {{ form.article }} {{ form.article.errors }}
              </div>
              {% endif %}

              {% if form.price %}
              <div class="form__group">
                <label for="{{ form.price.id_for_label }}" class="form__controls-label">
                  <span>*</span>
                  Цена :
                </label>
                {{ form.price }} {{ form.price.errors }}
              </div>
              {% endif %}

              {% if form.sale %}
              <div class="form__group">
                <label for="{{ form.sale.id_for_label }}" class="form__controls-label">
                  <span>*</span>
                  Скидка :
                </label>
                {{ form.sale }} {{ form.sale.errors }}
              </div>
              {% endif %}

              {% if form.manufacturer %}
              <div class="form__group">
                <label for="{{ form.manufacturer.id_for_label }}" class="form__controls-label">
                  Производитель:
                </label>
                {{ form.manufacturer }} {{ form.manufacturer.errors }}
              </div>
              {% endif %}

              {% if form.manufacturer_description %}
              <div class="form__group">
                <label for="{{ form.manufacturer_description.id_for_label }}" class="form__controls-label">
                  Описание производителя:
                </label>
                {{ form.manufacturer_description }} {{ form.manufacturer_description.errors }}
              </div>
              {% endif %}

              {% if form.installment %}
              <div class="form__group">
                <label for="{{ form.installment.id_for_label }}" class="form__controls-label">
                  Рассрочка:
                </label>
                {{ form.installment }} {{ form.installment.errors }}
              </div>
              {% endif %}

              {% if form.colors %}
              <div class="form__group">
                <label for="{{ form.colors.id_for_label }}" class="form__controls-label">
                  Цветовая схема:
                </label>
                {{ form.colors }} {{ form.colors.errors }}
              </div>
              {% endif %}

              {% if form.quantity_purchase %}
              <div class="form__group">
                <label for="{{ form.quantity_purchase.id_for_label }}" class="form__controls-label">
                  Количество купленных :
                </label>
                {{ form.quantity_purchase }} {{ form.quantity_purchase.errors }}
              </div>
              {% endif %}

              {% if form.sale %}
              <div class="form__group">
                <label for="{{ form.sale.id_for_label }}" class="form__controls-label">
                  <span>*</span>
                  Цена со скидкой :
                </label>
                {{ form.sale }} {{ form.sale.errors }}
              </div>
              {% endif %}

              {% if form.quantity %}
              <div class="form__group">
                <label for="{{ form.quantity.id_for_label }}" class="form__controls-label">
                  Количество товара в наличии :
                </label>
                {{ form.quantity }} {{ form.quantity.errors }}
              </div>
              {% endif %}

              {% if form.address %}
              <div class="form__group">
                <label for="{{ form.address.id_for_label }}" class="form__controls-label">
                  Адрес :
                </label>
                {{ form.address }} {{ form.address.errors }}
              </div>
              {% endif %}

              {% if form.phone %}
              <div class="form__group">
                <label for="{{ form.phone.id_for_label }}" class="form__controls-label">
                  Номер телефона :
                </label>
                {{ form.phone }} {{ form.phone.errors }}
              </div>
              {% endif %}

              {% if form.time_work %}
              <div class="form__group">
                <label for="{{ form.time_work.id_for_label }}" class="form__controls-label">
                  Режим работы :
                </label>
                {{ form.time_work }} {{ form.time_work.errors }}
              </div>
              {% endif %}

            </div>

            {% if form.description %}
            <div class="form__group">
              <label for="{{ form.description.id_for_label }}" class="form__controls-label"> Полное описание : </label>
              {{ form.description }} {{ form.description.errors }}
            </div>
            {% endif %}

            {% if image_form %}
            <div class="form__group form__group-image">
              <label for="{{ image_form.src.id_for_label }}" class="form__controls-label"> Дополнительные изображения
                : </label>
              {{ image_form.src }} {{ image_form.src.errors }}
            </div>
            <div class="product-field"></div>
            <div class="product-block__plus form__btn">Добавить изрбражение</div>
            {% endif %}
          </div>

          <div class="page-content__col">
            {% if form.slug %}
            <div class="form__group">
              <label for="{{ form.slug.id_for_label }}" class="form__controls-label">
                <span>*</span>
                URL :
              </label>
              {{ form.slug }} {{ form.slug.errors }}
            </div>
            {% endif %}
            <div class="form__group">
              <label for="{{ form.category.id_for_label }}" class="form__controls-label">Выбор категории :</label>
              {{ form.category }} {{ form.category.errors }}
            </div>
            <!--            <div class="form__group">-->
            <!--              <label for="{{ form.categories.id_for_label }}" class="form__controls-label">Выбор категории :</label>-->
            <!--              {{ form.categories }} {{ form.categories.errors }}-->
            <!--            </div>-->
            <div class="form__group form__group-image">
              <label for="{{ form.image.id_for_label }}" class="form__controls-label">Выбор изображения товара :</label>
              {{ form.image }} {{ form.image.errors }}
            </div>
            {% if form.instance.image %}
            <a href="{{ form.instance.image.url }}" target="_blank">
              <img src="{{ form.instance.image.url }}" alt="Миниатюра изображения"
                   style="max-width: 100px; max-height: 100px"/>
            </a>
            {% endif %}
            <div class="form__group-checkbox">
              {{ form.latest }} {{ form.latest.errors }}
              <label for="{{ form.latest.id_for_label }}" class="form__controls-label"> Новинка ? :</label>
            </div>
            <div class="form__group-checkbox">
              {{ form.type_image }} {{ form.type_image.errors }}
              <label for="{{ form.type_image.id_for_label }}" class="form__controls-label">Отображение картинки ?
                : </label>
            </div>

            <div class="form__group-checkbox">
              {{ form.status }} {{ form.status.errors }}
              <label for="{{ form.status.id_for_label }}" class="form__controls-label"> Опубликовать ? :</label>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content" id="seo">
        <!-- SEO страницы -->
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="form__group">
              <label for="{{ form.meta_h1.id_for_label }}" class="form__controls-label"> Заголовок h1 : </label>
              {{ form.meta_h1 }} {{ form.meta_h1.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_title.id_for_label }}" class="form__controls-label"> Мета заголовок : </label>
              {{ form.meta_title }} {{ form.meta_title.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label">
                Мета описание :
                <div class="meta-lenght">0</div>
              </label>
              {{ form.meta_description }} {{ form.meta_description.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label"> Мета keywords
                : </label>
              {{ form.meta_keywords }} {{ form.meta_keywords.errors }}
            </div>
          </div>
        </div>
      </div>
      <div class="page-content" id="char">
        <!-- Характеристики товара страницы -->
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="page-content__char" id="paste-char">
              {% for char in all_chars %}
              <div class="form__group-char">
                <input type="text" name="old_id" value="{{ char.id }}" hidden/>
                <label for="id_old_name" class="form__controls-label">Название характеристики :</label>
                <input name="old_name" class="form__controls" id="id_old_name" value="{{ char.name }}">

                <label for="id_old_value" class="form__controls-label">Значение :</label>
                <input type="text" name="old_value" class="form__controls" required
                       id="id_old_value" value="{{ char.value }}"/>
                <a href="{% url 'delete_properties' char.id %}" class="form__remove"> Удалить </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <button type="button" id="add-property" class="form__add-property">Добавить характеристику</button>
      </div>
    </form>

  </div>
</div>

{% endblock %}
