{% extends 'admin_base.html' %}{% load static %} {% block body %}
<div class="page">
  <div class="page__inner">
    <form action="." method="POST" class="form" enctype="multipart/form-data">
      <div class="page__head">
        <div class="page__head-save">
          <h1 class="page__title">Страница редактирования</h1>
          <button type="submit" class="form__btn">
            <img src="{% static 'theme/mb/images/admin/save.svg' %}" alt="" />
            Сохранить
          </button>
        </div>
        <div class="page__head-tab">
          <button type="button" data-name="basic" class="page__head-btn _active">Основные</button>
          <button type="button" data-name="seo" class="page__head-btn">Поля SEO</button>
          <button type="button" data-name="char" class="page__head-btn">Характеристики</button>
        </div>
      </div>
      {% csrf_token %}
      <div class="page-content _show" id="basic">
        <div class="page-content__row">
          <div class="page-content__col">
            <div class="form__group">
              <label for="{{ form.name.id_for_label }}" class="form__controls-label"> <span>*</span>Наименование: </label>
              {{ form.name }} {{ form.name.errors }}
            </div>

            <div class="form__group">
              <label for="{{ form.code_color.id_for_label }}" class="form__controls-label"> Код цвета: </label>
              {{ form.code_color }} {{ form.code_color.errors }}
            </div>

            <div class="form__group">
              <label for="{{ form.image_color.id_for_label }}" class="form__controls-label">Картинка: </label>
              {{ form.image_color }} {{ form.image_color.errors }}
            </div>
          </div>
          <div class="page-content__col">
            <div class="form__group-checkbox">
              {{ form.active }} {{ form.active.errors }}
              <label for="{{ form.active.id_for_label }}" class="form__controls-label"> Отобразить на сайте ? :</label>
            </div>
          </div>
        </div>
      </div>
      <div class="page-content" id="seo">
        <!-- SEO страницы -->
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="form__group">
              <label for="{{ form.meta_h1.id_for_label }}" class="form__controls-label"> Заголовок h1 : </label>
              {{ form.meta_h1 }} {{ form.meta_h1.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_title.id_for_label }}" class="form__controls-label"> Мета заголовок : </label>
              {{ form.meta_title }} {{ form.meta_title.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label">
                Мета описание :
                <div class="meta-lenght">0</div>
              </label>
              {{ form.meta_description }} {{ form.meta_description.errors }}
            </div>
            <div class="form__group">
              <label for="{{ form.meta_description.id_for_label }}" class="form__controls-label"> Мета keywords : </label>
              {{ form.meta_keywords }} {{ form.meta_keywords.errors }}
            </div>
          </div>
        </div>
      </div>
      <div class="page-content" id="char">
        <!-- Характеристики товара страницы -->
        <div class="page-content__row">
          <div class="page-content__onecol">
            <div class="page-content__char" id="paste-char">
              {% for char in chars %}
              <div class="form__group-char">
                <input type="text" name="old_char_id" value="{{ char.id }}" hidden />
                <label for="{{ form.category.id_for_label }}" class="form__controls-label">Название характеристики :</label>
                <select name="old_text_name" class="form__controls" placeholder="Название характеристики" id="id_name">
                  <option value="{{ char.char_name.id }}">{{ char.char_name.text_name }}</option>
                  {% for ch in all_chars %}
                  <option value="{{ ch.id }}">{{ ch.text_name }}</option>
                  {% endfor %}
                </select>
                <label for="id_char_value" class="form__controls-label">Значение :</label>
                <input type="text" name="old_char_value" class="form__controls" placeholder="Значение" required="" id="id_char_value" value="{{ char.char_value }}" />
                <a href="" class="form__remove"> Удалить </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <button type="button" id="add-char" class="form__plus">Добавить характеристику</button>
      </div>
    </form>
    <div class="select-hide" id="select-hide" style="opacity: 0; position: absolute; top: 0; pointer-events: none">{{ option_form.type }} {{ product_char_form.char_name }}</div>
  </div>
</div>

{% endblock %}
