{% extends 'admin_base.html' %}



{% block body %}
<div class="page__title">Заказ #{{ order.id }}</div>

<div class="breadcrumb">
    <div class="breadcrumb__inner">

        <ol class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{% url 'admin' %}">Главная</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="{% url 'admin_order' %}">Заказы</a></li>

            <li class="breadcrumb__item">Заказ #{{ order.id }}</li>
           
        </ol>

       
    </div>
</div>


<div class="page-order">

    <div class="page-order__wrap">
        <a href="{% url 'order_delete' order.id %}" class="page-order__delete remove">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>
        </a>
    </div>
    <div class="page-order__inner">
        <p class="page-order__info">ФИО: {{ order.first_name }} {{ order.first_name }}</p>
        {% if  order.email%}
        
        {% endif %}
        {% if  order.email%}
        <p class="page-order__info">E-mail: {{ order.email }}</p>
        {% endif %}
        {% if  order.address%}
        <p class="page-order__info">Адрес: {{ order.address }}</p>
        {% endif %}
        {% if  order.postal_code%}
        <p class="page-order__info">Индекс: {{ order.postal_code }}</p>
        {% endif %}
        {% if  order.city%}
        <p class="page-order__info">Город: {{ order.city }}</p>
        
        {% endif %}
        {% if  order.coupon%}
        <p class="page-order__info">Промокод: {{ order.coupon }}</p>
        {% endif %}
        {% if  order.discount%}
        <p class="page-order__info">Скидка по промокоду: {{ order.discount }}</p>
        {% endif %}
        
        
        <p class="page-order__info">Статус оплаты: {% if order.paid == True %}Оплачен {% else %}Не оплачен{% endif %}</p>
        
        
        <p class="page-order__info">Сумма заказа: {{ order.get_total_cost | floatformat:2 }}</p>

        <div class="page-order__status">
         
            <div class="page-order__status-item {% if order.status == 'Новый' %}page-order--new{% endif %}">
                <form class="form-ajax" action="{% url 'order_status_change' order.id %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                </form>
                
            
            </div>
        </div>

    </div>
</div>

<div class="page search">
    <div class="page__inner search__inner">

        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-2">
                    Изображение
                </div>

                
                <a href="" class="col col-6 sort" data-sort="{% if sort == 'name' %}-name{% else %}name{% endif %}">
                  Название 
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"/></svg>
                </a>
                <a href="" class="col col-2 sort" data-sort="{% if sort == 'price' %}-price{% else %}price{% endif %}">
                    Цена 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"/></svg>
                </a>
                <a href="" class="col col-2 sort" data-sort="{% if sort == 'stock' %}-stock{% else %}stock{% endif %}">
                    Количество 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"/></svg>
                </a>

                
              
            </li>

            {% for product in order.items.all %}
                <li class="table-row">
                    <div class="col col-2" data-label="">
                        <img src="{{ product.product.thumb.url }}" alt="">
                    </div>
                    <div class="col col-6" data-label="">
                        {{ product.product.name }}
                    </div>
                    <div class="col col-2" data-label="">
                      
                        <p class="col__new">{{ product.price }} руб.</p>
                        

                    </div>
                    <div class="col col-2 col__center" data-label="">
                        <div class="col__stock">
                            {{ product.quantity }}
                        </div>
                    </div>

                    
                </li>
            {% endfor %}
          </ul>
    
    </div>
</div>



{% endblock %}