.chars {


  &__title {}

  &__grid {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-end;
    gap: 10px;
  }

  &__name {
    white-space: nowrap;
  }

  &__line {
    min-width: 100px;
    height: 1px;
    background: #000;
  }

  &__value {
    white-space: nowrap;
  }

}