.table {

  &__head {
    display: flex;
    gap: 10px;

    div {
      font-weight: 400;
      padding: 7px;
      border: 1px solid rgba(1, 112, 184, 1);
      border-radius: 30px;
    }
  }

  &__body {

  }

  &__btn {
    font-weight: 600;
  }

  &__row {
    display: flex;
    gap: 10px;
  }

  &__inner {
    width: 100%;
    padding-bottom: 30px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 2px;
      cursor: pointer;

    }

    &::-webkit-scrollbar-track {
      background: rgba(40, 101, 168, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(1, 112, 184, 1);
      border-radius: 20px;
    }

    &:hover {
      &::-webkit-scrollbar {
        height: 10px;
      }
    }

  }
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;


}

table tr {
  border-bottom: 1px solid rgba(1, 112, 184, .16);


}

table td {
  text-align: center;
}

table th {
  max-width: 120px;
  padding-inline: 7px;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 7px;
    border: 1px solid rgba(1, 112, 184, 1);
    background: #0170B8FF;
    color: #fff;
    border-radius: 30px;
  }
}

thead {

  tr {
    border-bottom: none;
  }

  th {
    font-size: 14px;
  }

}

tbody {
  .model-chars {
    text-align: center;

    &:first-child {
      text-align: left;
      white-space: nowrap;
    }

    a {
      text-decoration: underline;
      color: #0d6efd;
      transition: $animation_speed;

      @media (hover: hover) {
        &:hover {
          color: #003252;
        }
      }
    }

  }

  td {
    font-size: 14px;
    padding: 10px 10px;
    font-weight: 600;
    border-right: 1px solid rgba(1, 112, 184, 0.16);
  }

  td:last-child {
    border-right: none;
  }
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }
  table td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}