// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$main_font: "Manrope", sans-serif;
$titleFont: "Montserrat", sans-serif;

$fontSize: 16px; // где 16(px) - размер шрифта по умолчанию из макета

// Основные цвета
// $bodyColor: #ffffff;
$bodyColor: #ffffff;
$mainColor: #000000; // Цвет шрифта по умолчанию

$white: #ffffff;
$accent: #000000;
$animation_speed: 0.5s;