.container {
  padding: 0px 15px;

  @media screen and (min-width: 1400px) {
    max-width: 1395px;
  }
}

._lock {
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 25px 35px;
  border-radius: 100px;
  background-color: rgba($color: #ffffff, $alpha: 1.0);
  color: rgba($color: #000000, $alpha: 1.0);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba($color: #000000, $alpha: .14);

  &--shadow {
    box-shadow: 0px 2px 4px 0px rgba(66, 66, 66, 0.1), 0px 6px 6px 0px rgba(66, 66, 66, 0.09), 0px 15px 9px 0px rgba(66, 66, 66, 0.05), 0px 26px 10px 0px rgba(66, 66, 66, 0.01), 0px 40px 11px 0px rgba(66, 66, 66, 0);
  }

  &--black {
    background-color: rgba($color: #000000, $alpha: 1.0);
    color: rgba($color: #ffffff, $alpha: 1.0);
  }

  @media screen and (max-width: 510px) {
    width: 100%;
    text-align: center;
  }
}

.title-h2 {
  font-family: $titleFont;
  font-size: clamp(24px, 4vw, 36px);
  font-weight: 300;
  text-transform: uppercase;
  line-height: 122%;
}

.section--padded {
  padding: 60px 0px;

  @media screen and (max-width: 768px) {
    padding: 40px 0px;
  }
}

.close {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 25px;
  transition: $animation_speed;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    height: 2px;
    margin-top: -1px;
    background-color: rgba($color: $mainColor, $alpha: 1.0);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  @media (hover: hover) {
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.empty-block {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 34px;
    font-weight: 600;
    color: rgba($color: $mainColor, $alpha: .5);
  }
}

.page-text {
  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 110%;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      font-size: 35px;
    }

    @media screen and (max-width: 425px) {
      font-size: 30px;
    }
  }


  h2 {
    font-size: 35px;
    font-weight: 300;
    line-height: 110%;
    margin-bottom: 40px;

    @media screen and (max-width: 425px) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 110%;
    margin-bottom: 40px;

    @media screen and (max-width: 425px) {
      font-size: 24px;
    }
  }

  p {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 25px;
  }

  a {
    color: #0a58ca;
    text-decoration: underline;
  }

  ul, ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
  }

  li {
    list-style: circle;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
  }

  blockquote {
  }

  strong {
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }
}

.text-category {
  .page-text {
    p {
      margin-bottom: 0px;
    }
  }
}

.text {
  padding: 120px 0px;
  line-height: 130%;

  h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  p {
    line-height: 150%;
    margin-bottom: 10px;
    color: rgba($color: #000000, $alpha: .7);
    font-size: 16px;
  }
}

.popup-ad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  max-width: 330px;
  padding: 20px;
  bottom: 100px;
  right: 20px;
  width: 100%;
  background: red;
  color: white;
  font-size: 14px;
  border-radius: 15px;
  z-index: 99;

  .close {
    position: relative;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;

    &::after,
    &::before {
      background-color: #ffffff;
    }
  }
}