

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all $animation_speed;

  &:active {
    opacity: .9;
  }

  @media (hover: hover) {
    &:hover {
      background-color:  #357fd1;
    }
  }
}

img {
  display: block;
}

a {
  text-decoration: none;
  transition: all $animation_speed;

  &:active {
    opacity: .9;
  }
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.phone {
  color: #107BF0;
  transition: $animation_speed;

  @media (hover: hover) {
    &:hover {
      color: #2865A8;
    }
  }
}

.mail {
  color: #202020;

  transition: $animation_speed;

  @media (hover: hover) {
    &:hover {
      color: #2865A8;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;

  a {
    @media (hover: hover) {
      &:hover {
        transform: translateY(-3px);
      }
    }
  }
}

.py {
  padding: 40px 0;
}

.my {
  margin: 40px 0;
}

.border-t {
  .container {
    border-top: 1px solid rgba(40, 101, 168, 0.29);
  }
}

.border-l {
  .container {
    border-left: 1px solid rgba(40, 101, 168, 0.29);
  }
}

.section-text {
  padding-top: 30px;
}

.title {
  color: rgba(48, 48, 48, 1);
  font-size: 24px;
  font-weight: 600;
}

.text {
  h1, h2, h3, h4, h5, h6 {
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    line-height: 150%;
    margin-bottom: 10px;
  }

  ul, ol {
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}

.btn {
  padding: 15px 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0px 21px 6px 0px rgba(248, 124, 48, 0), 0px 14px 5px 0px rgba(248, 124, 48, 0.02), 0px 8px 5px 0px rgba(248, 124, 48, 0.08), 0px 3px 3px 0px rgba(248, 124, 48, 0.13), 0px 1px 2px 0px rgba(248, 124, 48, 0.15);
  background: rgba(1, 112, 184, 1);

  &--outline {
    background: transparent;
    color: #000;
    border: 1px solid rgba(1, 112, 184, 1);
    border-radius: 30px;
  }
}