// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../node_modules/swiper/swiper';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";
@import "_mixins";
@import "_hero";
@import "./base/_null";

@import "global";
@import "./includes/header";

// Компоненты
@import "./components/search-form";


// Стили секций


html {
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;

  main {
    flex: 1 0 auto;
    padding: 30px 0;
  }
}
