{% extends 'admin_base.html' %}{% load thumbnail %} {% load static %} {% block body %}
<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">Фотографии</h1>
      <ul class="admin-breadcrumbs">
        <li><a href="{% url 'admin' %}">Панель управления</a></li>
        <li><a href="{% url 'admin_gallery' %}">Список фотографий</a></li>
      </ul>
    </div>
    <div class="page__content content-page">
      <div class="content-page__action">
        <div class="content-page__showing showing">
          <p>Показано</p>
          <select name="view-elem" id="view-elem">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="120">120</option>
          </select>
          <p>элементов</p>
        </div>
        <a href="{% url 'admin_gallery_add' %}" class="action-button">Добавить фотографию</a>
      </div>
      <div class="grid-items">
        {% for item in items %}
        <div class="grid-item">
          <div class="grid-item__image">
            {% if item.image %} {% thumbnail item.image "250x250" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %} {% else%}
            <img src="{% static 'admin/img/no-image.png' %}" alt="" />
            {% endif %}
          </div>
          <div class="grid-item__content">
            <a href="{% url 'admin_gallery_edit' item.pk %}" class="grid-item__title">{{ item.name }}</a>
            <div class="grid-item__action">
              <a href="{% url 'admin_gallery_edit' item.pk %}">Изменить</a>
              <a href="">Удалить</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
