.header {
  flex: 0 0 auto;
  padding-top: 37px;

  //.header__top
  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  //.header__logo
  &__logo {
  }

  //.header__info
  &__info {
    display: flex;
    align-items: flex-start;
    gap: 33px;

    @media screen and (max-width: 768px) {
      display: none !important;
    }

  }

  //.header__info-inner
  &__info-inner {
    display: flex;
    flex-direction: column;
    gap: 3px;

    a, p {
      font-size: 14px;
      font-weight: 500;
    }

  }

  //.header__nav
  &__nav {
  }

  //.header__btn
  &__btn {
    padding: 12px 29px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    background: rgba(212, 17, 21, 1);

    @media (hover: hover) {
      &:hover {
        background: #003252;
      }
    }
  }


  //.header__social
  &__social {
    @media screen and (max-width: 1200px) {
      position: fixed;
      bottom: 30px;
      right: 20px;
      flex-direction: column;
    }
  }

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(40, 101, 168, 0.29);

  @media (max-width: 1200px) and (min-width: 992px) {
    margin-top: 10px;
  }

  @media screen and (max-width: 992px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
  }

  //.nav__list
  &__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  //.nav__item
  &__item {
  }

  //.nav__link
  &__link {
    display: flex;
    padding: 20px 15px;
    color: rgba(32, 32, 32, 1);
    font-size: 16px;
    font-weight: 500;

    @media(hover:hover ) {
      &:hover {
        color: #2865a8;
      }
    }

    &--first {
      @media screen and (min-width: 992px) {
        padding-left: 0;
      }
    }

    @media screen and (max-width: 992px) {
      font-size: 20px;
    }
  }

  //.nav__close
  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #d41115;
    color: #fff;
    padding: 5px;
    border-radius: 5px;

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

}

#burger {

  @media screen and (min-width: 992px) {
    display: none;
  }
}