* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: $main_font;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  // outline: none;
}

a:focus,
a:active {
  // outline: none;
}

html,
body {
  height: 100%;
  min-width: 360px;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  color: $mainColor;
  line-height: 100%;
  font-family: $main_font;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyColor;
  overflow-x: hidden;

  main {
    flex: 1 0 auto;
  }
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

p,
span,
div {
  font-size: 16px;
}

html {
  &._lock {
    body {
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba($color: $mainColor, $alpha: 0.2);
        backdrop-filter: blur(4px);
        z-index: 1;
      }
    }
  }
}