{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ category.meta_title }}{% endblock %}
{% block description %}{{ category.meta_description }}{% endblock %}
{% block keywords %}{{ category.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  <section class="news section--padded">
    <div class="container">
      <h1 class="ews__title title-h2">{% if category.meta_h1 %}{{ category.meta_h1 }}{% else %}{{ category.name }}{% endif %}</h1>
      <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <a href="{% url 'home' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
           class="breadcrumbs__item">
          Главная
          <meta itemprop="position" content="1"/>
        </a>
        <a href="{% url 'blog' %}" itemprop="itemListElement" itemscope=""
           itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
          Новости
          <meta itemprop="position" content="2"/>
        </a>
        <a href="{{ category.get_absolute_url }}" itemprop="itemListElement" itemscope=""
           itemtype="http://schema.org/ListItem"
           class="breadcrumbs__item">
          {{ category.name }}
          <meta itemprop="position" content="1"/>
        </a>
      </div>
      <div class="news__inner">
        <div class="category__filter filter">
          <div class="filter__inner">
            <div class="filter__item">
              <a href="{% url 'blog' %}" class="filter__btn">
                <span>Все категории</span>
              </a>
            </div>
            {% for cat in categorys %}
            <div class="filter__item {% if category == cat %}_active{% endif %}">
              <a href="{{ cat.get_absolute_url }}" class="filter__btn">
                <span>{{ cat.name }}</span>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% if posts %}
        <div class="news__grid">
          {% for post in posts %}
          {% include "../../components/blog-card.html" with post=post %}
          {% endfor %}
        </div>
        {% else %}
        <div class="empty-block">
          <p>Тут пока пусто</p>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}