{% extends 'admin_base.html' %}{% load thumbnail %} {% load static %} {% block body %}
<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">Офисы продаж</h1>
      <ul class="admin-breadcrumbs">
        <li><a href="{% url 'admin' %}">Панель управления</a></li>
        <li><a href="">Список статей</a></li>
      </ul>
    </div>
    <div class="page__content content-page">
      <div class="content-page__action">
        <div class="content-page__showing showing">
          <p>Показано</p>
          <select name="view-elem" id="view-elem">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="120">120</option>
          </select>
          <p>элементов</p>
        </div>
        <a href="{% url 'admin_office_add' %}" class="action-button">Создать</a>
      </div>
      <div class="grid-items">
        {% for item in items %}
        <div class="grid-item">

          <div class="grid-item__content">
            <p class="grid-item__title">{{ item.address }}</p>
            <p class="grid-item__title">{{ item.phone }}</p>
            {% include 'common/_edit-block.html' with edit_url='admin_office_edit' delete_url='admin_office_delete' show_link=False %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
