{% extends 'admin_base.html' %} {% load shop_tags %} {% load thumbnail %} {% load static %} {% block body %}

<div class="page">
  <div class="page__inner">
    <div class="page__top">
      <h1 class="page__title">Товары</h1>
      <ul class="admin-breadcrumbs">
        <li><a href="{% url 'admin' %}">Панель управления</a></li>
        <li><a href="{% url 'admin_product' %}">Список товаров</a></li>
      </ul>
    </div>
    <div class="page__content content-page">
      {% include 'common/_actions-block.html' with button_url='product_add' %}

      <div class="grid-items">
        {% for item in items %}
        <div class="grid-item">
          <div class="grid-item__image">
            {% if item.image %} {% thumbnail item.image "250x250" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% endthumbnail %} {% else%}
            <img src="{% static 'theme/mb/images/no-image.png' %}" alt="" />
            {% endif %}
          </div>
          <div class="grid-item__content">
            <a href="{% url 'product_edit' item.pk %}" class="grid-item__title">{{ item.name }}</a>
            <p>{{ item.price }} ₽</p>
            {% include 'common/_edit-block.html' with edit_url='product_edit' delete_url='product_delete' %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pagging">
        <div class="pagging__inner">
          <a
            href="{% if items.has_previous %}?{% chenge_params page=items.previous_page_number %}{% else %}#{% endif %}"
            class="pagging__arrow {% if not items.has_previous%}disabled{% endif %}"
            >«</a
          >
          <ul class="pagging__list">
            {% for page in items.paginator.page_range %} {% if page >= items.number|add:-2 and page <= items.number|add:2 %}
            <li>
              <a href="?{% chenge_params page=page %}" class="pagging__item {% if items.number == page %}_active{% endif %}">{{page}}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
          <a href="{% if items.has_next %}?{% chenge_params page=items.next_page_number %}{% else %}#{% endif %}" class="pagging__arrow">»</a>
        </div>
      </div>
    </div>

    <div class="pagging">
      <a href="{% if products.has_previous %}?{% chenge_params page=products.previous_page_number %}{% else %}#{% endif %}"
        class="pagging__arrow {% if not products.has_previous%}disabled{% endif %}">«</a>
      <ul class="pagging__list">
        {% for page in products.paginator.page_range %}
        {% if page >= products.number|add:-2 and page <= products.number|add:2 %} <li>
          <a href="?{% chenge_params page=page %}"
            class="pagging__item {% if products.number == page %}_active{% endif %}">{{page}}</a>
          </li>
          {% endif %} {% endfor %}
      </ul>
      <a href="{% if products.has_next %}?{% chenge_params page=products.next_page_number %}{% else %}#{% endif %}"
        class="pagging__arrow">»</a>
    </div>
  </div>
</div>

{% endblock %}
