{% load static %}


<div id="cookie-notice"
     style="display: none; width: 60%; position: fixed; bottom: 10px; line-height: 150%; left: 10px; background-color: rgb(51, 51, 51); color: white; padding: 15px; border-radius: 5px; z-index: 1000;">
  Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом и делать его лучше.
  Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов <a
  href="{% url 'cookie' %}" target="_blank"
  style="color: red; text-decoration: underline;">cookie</a> и
  <a href="{% url 'politika' %}" target="_blank"  style="color: red; text-decoration: underline;">
    политикой конфиденциальности.</a>
  <button id="accept-cookies"
          style="margin-left: 10px; padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px;">
    Я согласен
  </button>
</div>

