{% load static %}{% load thumbnail %}
<div class="header">
  <div class="container">
    <div class="header__top">
      {% if site_settings.logo %}
      <a href="/" class="header__logo">
        {% thumbnail site_settings.logo "146x46" format="WEBP" upscale=False as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Логотип Абакан насос"
             title="Логотип Абакан насос">
        {% endthumbnail %}
      </a>
      {% endif %}
      {% include '../components/search-form.html' %}

      {% if branch %}
      <div class="header__info">
        {% for branch in branch %}
        <div class="header__info-inner">
          {% if branch.address %}
          <p class="header__address address">
            {{ branch.address }}
          </p>
          {% endif %}

          {% if branch.phone_one %}
          <a href="#" data-phone="{{ branch.phone_one }}" class="header__phone phone">
            {{ branch.phone_one }}
          </a>
          {% endif %}

          {% if branch.phone_two %}
          <a href="#" data-phone="{{ branch.phone_two }}" class="header__phone phone">
            {{ branch.phone_two }}
          </a>
          {% endif %}

          {% if branch.email %}
          <a href="mailto:{{ branch.email }}" class="header__mail mail">
            {{ branch.email }}
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if socials %}
      <div class="header__social social">
        <button type="button" class="social__mobile-btn" aria-label="Открыть список соц.сетей">
          <i class="fa-solid fa-share-nodes"></i>
        </button>
        <div class="social__mobile-cnt">
          {% for social in socials %}
          <a href="{{ social.link }}" aria-label="Перейти в наш {{ social.name }}">
            <img src="{{ social.icon_dark.url }}" width="30px" height="30px" alt="">
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <button type="button" class="header__burger" id="burger">
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
    </div>
    <nav class="header__nav nav">
      <button class="nav__close" id="close"><i class="fa-solid fa-xmark"></i></button>
      <ul class="nav__list">
        <li class="nav__item"><a href="{% url 'category' %}" class="nav__link nav__link--first">Каталог</a></li>
        <li class="nav__item"><a href="{% url 'about' %}" class="nav__link">О нас</a></li>
<!--        <li class="nav__item"><a href="{% url 'gallery' %}" class="nav__link">Галерея</a></li>-->
        <li class="nav__item"><a href="{% url 'blog' %}" class="nav__link">Новости</a></li>
        <li class="nav__item"><a href="{% url 'contact' %}" class="nav__link">Контакты</a></li>
      </ul>
      {% if site_settings.status == 'published' %}
      <a href="/category/rasprodazha/" class="header__btn">Распродажа</a>
      {% endif %}
    </nav>
  </div>
</div>
