<!--{% load static %}-->
<!--<div id="callback" class="popup ">-->
<!--  <div class="popup__wrapper">-->
<!--    <div class="popup__content">-->
<!--      <div class="popup__top">-->
<!--        <button data-close type="button" class="popup__close close"></button>-->
<!--      </div>-->
<!--      <div class="popup__loading">-->
<!--        <img src="{% static 'theme/mb/images/loading.gif' %}" alt="Загрузка" title="Загрузка"/>-->
<!--      </div>-->
<!--      <h2 class="popup__title">Обратный звонок</h2>-->
<!--      <form action="" class="popup__form form" method="POST" id="callback-form">-->
<!--        {% csrf_token %}-->
<!--        <input type="text" name="name" class="form__input" placeholder="Ваше имя" required/>-->
<!--        <input type="tel" name="phone" class="form__input" placeholder="номер телефона" required data-tel-input/>-->
<!--        <div class="form__agreement">-->
<!--          <input type="checkbox" name="agreement" id="agreement-con" required>-->
<!--          <label for="agreement-con">Я согласен(а) с <a href="{% url 'politika' %}">политикой-->
<!--            конфиденциальности</a></label>-->
<!--        </div>-->
<!--        <button type="submit" class="form__button">Отправить</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div id="success" class="notification">-->
<!--  <div class="notification__content">-->
<!--    <div class="notification__success-image">-->
<!--      <img src="{% static 'theme/mb/images/tick.png' %}" alt="Обратный звонок" title="Обратный звонок"/>-->
<!--    </div>-->
<!--    <p class="notification__success-text">Успешно</p>-->
<!--  </div>-->
<!--</div>-->



