* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    background-color: #f2f7fb;
}

a {
    color: $mainColor;
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.empty {
    height: 100%;
    font-size: clamp(25px, 2.5vw, 45px);
    font-weight: 700;
    text-transform: uppercase;
    color: rgba($color: $mainColor, $alpha: .3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ck-editor-container .ck-content a {
    text-decoration: underline;
    color: #0a58ca;
}

