.notice {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 10px;
  cursor: pointer;

  //.notice--success
  &--success {
    background-color: green;
    color: #fff;
  }

  //.notice__body
  &__body {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
  }

  //.notice__close
  &__close{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

}

