.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  // .form__file

  &__file {
  }

  // .form__btn

  &__btn {
    background-color: $accent;
    padding: 10px 20px;
    color: #fff;
    border-radius: 6px;
    align-self: flex-start;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  // .form__control-radio

  &__control-radio {
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
    }
  }

  // .form__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }

  // .form__group

  &__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
    position: relative;
  }

  //.form__controls-file

  &__group-file {
    border: 1px solid red;
    position: relative;
    width: 200px;
    height: 100px;

    input[type="file"] {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      appearance: none;
      opacity: 0;
    }
  }

  // .form__group-checkbox

  &__group-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    padding: 10px;
    border-radius: 6px;
  }

  // .form__group-image

  &__group-image {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    padding: 10px;
    border-radius: 6px;
  }

  // .form__group-char

  &__group-char {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    padding: 20px;
    border-radius: 8px;
  }

  // .form__controls-label

  &__controls-label {
    display: flex;
    align-items: center;
    line-height: 150%;
    font-size: 15px;
    color: rgba($color: $mainColor, $alpha: .7);

    span {
      display: block;
      margin-right: 3px;
      color: red;
    }
  }

  // .form__controls

  &__controls {
    padding: 15px 20px;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    border-radius: 4px;
    font-size: 14px;
    color: rgba($color: $mainColor, $alpha: .9);
    resize: none;

    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none;
      border-color: rgba($color: $mainColor, $alpha: .4);
    }
  }

  .form__remove {
    color: red;
  }

  .form__plus {
    background-color: rgba($color: $accent, $alpha: 1.0);
    padding: 15px 40px;
    color: rgba($color: $white, $alpha: 1.0);
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
  }
}

.errorlist {
  margin-top: 10px;

  li {
    color: rgba($color: red, $alpha: .8);
    font-size: 14px;
  }
}