.header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 296px);
  box-shadow: 0px 0px 4px rgba($color: $mainColor, $alpha: .1);
  border: 1px solid rgba($color: $mainColor, $alpha: .1);
  background-color: rgba($color: $white, $alpha: 1.0);
  height: 80px;
  display: none;
  align-items: center;

  // .header__inner
  &__inner {
    padding: 0px 20px;
  }

  // .header__action

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  // .header__btn
  &__btn {
    font-size: 14px;
    padding: 10px 20px;
    background-color: $mainColor;
    color: #fff;
    border-radius: 6px;
    transition: .5s;

    &:hover {
      opacity: .9;
    }
  }

  // .header__search

  &__search {
    flex: 1 1 auto;

    svg {
      width: 40px;
    }
  }

  // .header__search-inner

  &__search-inner {}

  // .header__search-form

  &__search-form {
    display: flex;
    align-items: center;
  }

  // .header__search-btn

  &__search-btn {
    svg {
      width: 40px;
    }
  }

  // .header__search-field

  &__search-field {
    width: 100%;
  }

  // .header__search-input

  &__search-input {
    height: 40px;
    width: 100%;
    padding: 0px 20px;
    border-radius: 4px;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    color: $mainColor;

    &:focus {
      outline: none;
      border-color: rgba($color: $mainColor, $alpha: .3);
    }
  }

  // .header__search-btn
  &__search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba($color: $mainColor, $alpha: .1);
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;

    svg {
      width: 15px;
    }

    &:hover {
      border-color: rgba($color: $mainColor, $alpha: .3);
    }
  }

  // .header__account

  &__account {
    display: flex;
    align-items: center;
  }

  // .header__avatar
  &__avatar {
    margin-left: 40px;

    span {
      display: none;
      margin-right: 10px;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 5px solid rgba($color: #fff, $alpha: 1.0);
      box-shadow: 0px 0px 4px rgba($color: $mainColor, $alpha: .5);
    }
  }

  // .header__notification

  &__notification {
    display: flex;
    align-items: center;
  }

  // .header__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    box-shadow: 0px 0px 4px rgba($color: $mainColor, $alpha: .1);
    position: relative;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s;

    &:hover {
      border-color: rgba($color: $mainColor, $alpha: .2);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 80%;
      left: 70%;
      width: 7px;
      height: 7px;
      display: block;
      border-radius: 2px;
      background-color: $accent;
    }

    &:first-child {
      margin-right: 20px;
    }
  }

}

.tabs {

  // .tabs__glider

  &__glider {}
}