.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 280px;
  height: 100vh;
  overflow-y: auto;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 0 24px 2px rgba(20, 25, 38, .05);

  &::-webkit-scrollbar {
    width: 2px;
    /* ширина всей полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    background: rgba($color: $mainColor, $alpha: .1);
    /* цвет зоны отслеживания */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: $mainColor, $alpha: .1);
  }

  // .sidebar__top

  &__top {}

  // .sidebar__menu

  &__menu {}


}

.top-sidebar {
  padding: 30px 15px;
  border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);

  // .top-sidebar__logo

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    font-weight: 500;

    img,
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.menu-sidebar {
  padding: 20px 30px;

  // .menu-sidebar__item

  &__item {
    i{
      opacity: 0.8;
      font-size: 13px;
      transition: $animation_speed;
    }

    ._active{
      .menu-sidebar__dropdown-title > i {
        transform: rotate(180deg);
      }
    }
  }

  &__item+&__item {
    margin-top: 20px;
  }

  // .menu-sidebar__item-title

  &__item-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: rgba($color: $mainColor, $alpha: .3);
    margin-bottom: 10px;
    letter-spacing: .5px;
  }

  // .menu-sidebar__link-general

  &__link-general {
    font-size: 16px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  // .menu-sidebar__dropdown

  &__dropdown {

    &._active {
      .menu-sidebar__dropdown-content {
        display: block;
      }

      .menu-sidebar__dropdown-title {
        img {
          transform: rotate(180deg);
        }
      }

      i {
        opacity: .8;
      }
    }
  }

  // .menu-sidebar__dropdown-title

  &__dropdown-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px 0px;

    @media (hover:hover) {
      &:hover {
        cursor: pointer;
      }
    }

    img {
      width: 25px;
      height: 25px;
      transition: .3s;
    }
  }

  // .menu-sidebar__dropdow-inner

  &__dropdow-inner {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  // .menu-sidebar__dropdown-content

  &__dropdown-content {
    display: none;

    ul {
      padding-left: 10px;

      li {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 5px 0px 5px 7px;

        &::before {
          content: '';
          width: 4px;
          height: 4px;
          border: 1px solid rgba($color: $accent, $alpha: 1.0);
          transform: rotate(-45deg);
        }

        a {}
      }
    }
  }
}